*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio header */

body{
    background-image:url(../Img/Ñoquis.JPG);
    background-size: cover;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.375);
    height: 80px;
    text-decoration: none;
    font-size: 20px; 
}

.Menuburguer{
    color: black;
}
/* Fin Header */

/* Inicio Main */

.img1, .img2, .img3, .img4{
    height: 300px;
    margin: 10px;
    background-size: cover;
    border-radius: 10px;
}

.img1{
    background-image: url(../Img/sin\ título-0591-3.JPG);
}

.img2{
    background-image: url(../Img/sin\ título-0440.JPG);
}

.img3{
    background-image: url(../Img/sin\ título-0413.JPG);
}


.img4{
    background-image: url(../Img/sin\ título-0692.JPG);
    height: 350px;
}

/* inicio pagina productos */

.Productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-gap: 15px;
}

.P{
    border: 2px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    transition: all 0.9s;
}

.P:hover{
    filter: grayscale(0%);
}


.I1{
    background-image: url(../Img/sin\ título\ \(1\ de\ 1\).jpg);
}

.I2{
    background-image: url(../Img/sin\ título-0413.JPG);
}

.I3{
    background-image: url(../Img/sin\ título-0757.JPG);
}

.I4{
    background-image: url(../Img/sin\ título-0628.JPG);
}

.I5{
    background-image: url(../Img/sin\ título-0519.JPG);
}

.I6{
    background-image: url(../Img/sin\ título\ \(1\ de\ 1\)-2.jpg);
}

@media only screen and (min-width:480px){
    .Productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
    }

}

@media only screen and (min-width:768px){
    .Productos{ 
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 200px);
}
        .I1{
            grid-column: 1/2;
            grid-row: 1/3;
        }

        .I2{
            grid-column: 2/3 ;
            grid-row: 2/1 ;
        }

        .I3{
            grid-column: 3/4 ;
            grid-row: 1/2;
        }
        .I4{
            grid-column:2/3 ;
            grid-row: 2/3;
        }
        .I5{
            grid-column: 4/5 ;
            grid-row: 1/3 ;
        }
        .I6{
            grid-column:3/4 ;
            grid-row: 2/3;
        }
    }

/* Fin pagina productos */

/* Inicio pagina recetas */

.recetas a{
    color: antiquewhite;
    text-shadow: rgba(115, 115, 145, 0.33);
    margin-top: 10;
} 

.recetas a:hover{
    color: rgba(229, 229, 244, 0.555);
}

/* Fin Pagina Recetas */

/* Inicio pagina sobre nosotros */

.nosotros{
    text-align: center;
    background-color: rgba(250, 235, 215, 0.258);
}

.nosotros h1{
    font-size: 50px;
}

.nosotros p{
    text-align: center;
font-size: 20px;
padding: 10px;
}
.nosotros a{
    color: antiquewhite;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: rgb(12, 16, 117);
}

/* Fin pagina sobre nosotros */


/* Inicio Pagina Contacto */

.contacto, h1{
    text-align: center;
    font-size: 50px;
}

.casillas{
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    border-color: rgba(0, 0, 255, 0.375);
}


/* Fin Pagina Contacto */

footer{
    height: auto;
    width: 100%;
    background-color: rgba(198, 201, 209, 0.255);
    padding: 10px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
}

/* Inicio Footer */

footer p{
    font-size: 20px;
    font-weight: 50%;
    color: black;
}

.cont{
    font-size: 20px;
    font-weight: 50%;
    color: black;
    text-decoration: none;
}

.redes{
    text-decoration: none;
    font-size: 60px;
    text-align: left;
    color: antiquewhite;
    padding-top:20px;
}

/* Fin Footer */


/* Boton arriba */

.Subir{
    width: 40px;
    height: 40px;
    background-color: rgba(8, 8, 158, 0.296);
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    color: rgb(231, 231, 234);
    line-height: 40px;
    font-size: 30px;
    border-radius: 20px;
} 

/* Boton Whatsapp */

.what{
    width: 40px;
    height: 40px;
    background-color: rgba(34, 114, 42, 0.358);
    position: fixed;
    bottom: 100px;
    right: 40px;
    text-align: center;
    color: rgb(210, 220, 210);
    line-height: 40px;
    font-size: 30px;
    border-radius: 20px;
}